In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np

In [2]:
trainfull_pred = read_csv( './csv/trainfull_pred.csv')
Y_trainfull = read_csv( './csv/Y_trainfull.csv')

In [3]:
trainfull_pred

               0
0      197059.98
1      427249.80
2     1705034.90
3      582024.56
4      111427.52
...          ...
7195   400808.25
7196   219151.73
7197   631097.20
7198   266809.62
7199   689937.30

[7200 rows x 1 columns]

In [4]:
Y_trainfull.shape

(7200, 1)

In [5]:
df = trainfull_pred.join(Y_trainfull)

In [6]:
df.columns = ('Pred_price', 'Real_price')

In [7]:
df

      Pred_price  Real_price
0      197059.98      210000
1      427249.80      840000
2     1705034.90     1950000
3      582024.56      975200
4      111427.52      101520
...          ...         ...
7195   400808.25      472500
7196   219151.73      162000
7197   631097.20      575000
7198   266809.62      243800
7199   689937.30      604000

[7200 rows x 2 columns]

In [8]:
df['Absolute_error'] = abs(df['Pred_price']-df['Real_price'])

In [9]:
df['APE'] = (df['Absolute_error']/df['Real_price'])*100

In [10]:
df

      Pred_price  Real_price  Absolute_error        APE
0      197059.98      210000        12940.02   6.161914
1      427249.80      840000       412750.20  49.136929
2     1705034.90     1950000       244965.10  12.562313
3      582024.56      975200       393175.44  40.317416
4      111427.52      101520         9907.52   9.759180
...          ...         ...             ...        ...
7195   400808.25      472500        71691.75  15.172857
7196   219151.73      162000        57151.73  35.278846
7197   631097.20      575000        56097.20   9.756035
7198   266809.62      243800        23009.62   9.437908
7199   689937.30      604000        85937.30  14.228030

[7200 rows x 4 columns]

### MAPE model avec remplacement par mediane dans colonne area_m2

In [16]:
print(df['APE'].mean(), df['APE'].max(), df['APE'].min())

41.88393936446255 2903.0125000000003 0.011801266825018872

In [13]:
print(df['APE'].mean(), df['APE'].max(), df['APE'].min())

40.697435179258726 2767.6035714285713 0.007242979242972989

In [14]:
df.loc[df['APE']==df['APE'].max()]

      Pred_price  Real_price  Absolute_error          APE
1858    401464.5       14000        387464.5  2767.603571

In [15]:
df.loc[df['APE']>=100]

      Pred_price  Real_price  Absolute_error         APE
21     145923.39       35000       110923.39  316.923971
31     165570.89       71000        94570.89  133.198437
76     116334.90       33500        82834.90  247.268358
86     233592.72       88000       145592.72  165.446273
108    261414.03      107000       154414.03  144.312178
...          ...         ...             ...         ...
7178   261414.03       89900       171514.03  190.783126
7181   282770.56       99000       183770.56  185.626828
7185   145816.62       51350        94466.62  183.966154
7186   145816.62       54525        91291.62  167.430757
7188   116334.90       33200        83134.90  250.406325

[570 rows x 4 columns]