In [2]:
import pandas as pd
from pandas import read_csv

In [3]:
trainfull_pred = read_csv( './csv/trainfull_pred.csv', index_col=0)
Y_trainfull = read_csv( './csv/Y_trainfull.csv', index_col=0)

In [7]:
trainfull_pred

Empty DataFrame
Columns: []
Index: [298676.75, 448231.38, 1834645.2, 587965.2, 244051.14, 247083.44, 285834.88, 270073.53, 249208.12, 302007.12, 547622.3, 412829.16, 284409.66, 205273.77, 586311.0, 224633.98, 216240.42, 297574.0, 406769.5, 231918.33, 367201.28, 292004.53, 228837.47, 355424.44, 348080.6, 315788.72, 873693.56, 247477.06, 436582.4, 365819.2, 646588.94, 177439.44, 204099.88, 614543.7, 224633.98, 406769.5, 196952.2, 296984.22, 834644.56, 261837.42, 607917.4, 298676.75, 635163.25, 270424.72, 444027.88, 257275.83, 527108.0, 1207563.5, 726524.6, 400792.72, 241304.6, 416838.0, 272377.16, 479074.28, 262759.56, 605714.75, 300407.8, 829873.44, 499688.47, 462442.38, 266364.97, 781536.0, 592274.94, 288245.34, 257633.95, 302988.56, 791451.94, 454162.53, 268898.72, 334575.7, 795491.56, 671463.3, 454480.22, 247477.06, 648101.6, 617601.94, 247558.42, 397667.56, 728255.7, 386480.88, 362939.47, 454162.53, 246073.19, 358392.6, 455668.75, 841701.5, 372071.7, 292004.53, 249208.12, 246073.19, 1198013.2, 286514.28, 359722.22, 899484.8, 247194.55, 400178.44, 2095283.1, 2445599.5, 271139.72, 320607.44, ...]

[7200 rows x 0 columns]

In [6]:
df = pd.DataFrame([trainfull_pred, Y_trainfull])
df

                                                   0
0  Empty DataFrame
Columns: []
Index: [298676.75,...
1  Empty DataFrame
Columns: []
Index: [840000, 19...